<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/BryceCreamCone">Bryce Gust</a>. A hobbyist coder looking to launch into a real career in web development.
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "BryceBrittany_Kat'sWedding.jpg", class: 'img-fluid' %>
    </div>
    <div class="col12 col-sm-7 offset-sm-1">
      <br />
      <p>
        Bryce currently works at the Customer Contact Center for Great Wolf Resorts in Madison, WI. Over the last 5 years he has developed a passion for coding and tinkering. Making many small apps (including this one!). This one was done with Ruby on Rails with the help of UW Extended Campus.
      </p>
    </div>
  </div>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<br class="clear">
<br />
<br />
<br />
<br />